@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  body, html {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      /*font-family: Poppins-Regular, sans-serif;*/
      font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', sans-serif;}
  h1{
      font-size: 5em;
      /*font-family: arial,helvetica;*/
      color: #fff;
      margin:0;
      padding:0;
  }
  
  .navbar-custom{
    border: 0 !important;
    border-bottom: 1px solid #6b9fc5 !important; 
    background: transparent !important;
    height: 70px !important;
  }

  #fp-nav ul li a span, 
  .fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
  }
  
  #fp-nav ul li a.active span, 
  .fp-slidesNav ul li a.active span, 
  #fp-nav ul li:hover a.active span, 
  .fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
  }
  /* Centered texts in each section
  * --------------------------------------- */
  .section{
      text-align: center;
  }
  #section0 {
    background-image: url(../img/bgH3_85.jpg);
    text-align: left;
    opacity: .8;
  }
  #section1 {
    background-color: #2890b7;
}
  #section2 {
    background-color: #195a72;
  }
  #section3{
    background: #178ab4;
  }
  #section5{
    background: #000040;
  }

  /*Adding background for the slides
  * --------------------------------------- */
  .homegrid{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 5vh 90vh 5vh;
  }
  .homeleft{
    grid-column: 2;
    grid-row: 2;
  }
  .homeright{
    grid-column: 3;
    grid-row: 2;
    align-self: end;
  }
  .slidewrapper{
      display: grid;
      grid-template-columns: 1fr 5fr 1fr 6fr 1fr 5fr 1fr;
      grid-template-rows: 3fr 4fr 1fr 6fr 6fr 6fr 2fr ;
      grid-gap: 5px;
      color: white;
  }
  .slidewrapper .baslik{
    grid-column: 1 / -1 ;
    grid-row: 2 ;
    font-size: 40px;
    justify-items: center;
    line-height: 250%;
  }
  .slidewrapper .yazi1{
    grid-column: 2 ;
    grid-row: 5 ;
    text-align: center;
    text-align: end;
  }
   .slidewrapper .yazi2{
    grid-column: 2 / span 2 ;
    grid-row: 4 ;
    text-align: end;
  }
  .slidewrapper .yazi3{
    grid-column: 2 / span 2 ;
    grid-row: 6 ;
    text-align: end;
  }
  .slidewrapper .dis{
    grid-column: 4;
    grid-row: 4 / span 3 ;
    font-size: 50px;
    background: url(../img/dis5.png) center no-repeat;
    background-size: 70%; 
  }
  #dis2{
    background: url(../img/dis4.png) center no-repeat;
    background-size: 70%; 
  }
  .slidewrapper .yazi4{
    grid-column: 5 / span 2;
    grid-row: 4 ;
    text-align: start;
  }
  .slidewrapper .yazi5{
    grid-column: 6 ;
    grid-row: 5 ;
    text-align: start;
  }
  .slidewrapper .yazi6{
    grid-column: 5 / span 2 ;
    grid-row: 6 ;
    text-align: start;
  }
  .slidewrapper img{
    width: 100vw;
  }
  .faqwrapper{
    display: grid;
    grid-template-columns: 5fr 1fr 3fr 1fr;
    grid-template-rows: 70px 100px 1fr ;
    height: 100vh;
    color: white;
    background-color: rgb(6, 77, 94);
}
  .faqwrapper .imagefaq{
    grid-column: 1;
    grid-row: 1 / span 3;
    background: url(../img/faq.jpg) bottom center no-repeat;
    background-size: cover; 
}
  .faqwrapper .faqcontent{
    grid-column: 3;
    grid-row: 3 / span 3;
}
  .faqwrapper .faqbaslik{
    grid-column: 3;
    grid-row: 2 ;
    font-size: 200%;
    line-height: 380%;
  }
  .contactWrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 10vh 10vh 80vh;
    height: 100vh;
    color: white;

  }
  .contactTanitim{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 4fr;
  }
  .tanitimBaslik{
    grid-row: 1;
    background: url(../img/logo-white-text.png) center top no-repeat;
    background-size: 100px; 
  }
  .tanitimIcerik{
    grid-row: 2;
    padding: 0 10% 10% 10%;
    line-height: 170%;
  }
  .tanitimSosyalMedya{
    grid-row: 3;
  }
  .contactForm{
    grid-column: 3;
    grid-row: 3;
    padding: 0 10% 10% 10%;
  }
  .contactFormInput{
    max-width:420px; 
    margin:50px auto;
  }
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid rgb(6, 77, 94);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid rgb(6, 77, 94); }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  .gonder {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:rgb(6, 77, 94);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    text-align: center;
  }
  .gonder:hover { background:rgb(6, 77, 94); }

  /* Overwriting styles for control arrows for slides
  * --------------------------------------- */
  .controlArrow.prev {
      left: 50px;
  }
  .controlArrow.next{
      right: 50px;
  }

  /* Bottom menu
  * --------------------------------------- */
  #infoMenu {
      top: 2%;
  }

  #infoMenu li a {
      color: #fff;
  }

  #infoMenu{
      height: 40px;
      color: #fff;
      position:fixed;
      z-index:70;
      bottom: 2%;
      width:100%;
      text-align:right;
      font-size:0.9em;
      padding:8px 0 8px 0;
  }
  #infoMenu ul{
      padding: 0 40px;
  }
  #infoMenu li a{
      display: block;
      margin: 0 22px 0 0;
      color: #fff;
  }
  #infoMenu li a:hover{
      text-decoration:underline;
  }
  #infoMenu li{
      display:inline-block;
      position:relative;
  }
  #menuhover{
    padding-top: 10px;
  }
  #menuhover:hover{
    background: #009ABB;
  }
  .banner-text ul li{
    transition: transform .4s;
    transform-origin: 0 0;
  }
  .banner-text ul li:hover{
    transform-origin: 0 0;
    transform: scale(1.1);
  }
  .banner-text h1{
    font-size: 54px; 
    margin: 50px 0 0 0;
  }
  .banner-text p{
    font-size: 30px;
    line-height:1.2; color: #f9f9f9;
  }
  .banner-text li {
      font-family: Poppins-Regular;
      font-size: 20px;
      color: #003300;
      padding: 5px 0 5px 10px;
      line-height: 25px;
  }

  .banner-text li .fa {
      margin: 0 20px 0 0;
  }

  /* Media Screen
  * --------------------------------------- */

  @media screen and (max-width: 992px) {

    #section1,#section2,#section4,#section5,
    #section1 .fp-slide,#section2 .fp-slide,#section4 .fp-slide,#section5 .fp-slide,
    #section1 .fp-tableCell,#section2 .fp-tableCell,#section4 .fp-tableCell,#section5 .fp-tableCell{
        height: auto !important;
    }
  
    .navbar-custom{
      border: 0 !important;
      border-bottom: 1px solid #6b9fc5 !important; 
      background: #009ABB !important;
      height: 70px !important;
    }

    .homegrid{
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 1fr 10fr 10fr 1fr;
    }
    .homeleft{
      grid-row: 2;
      grid-column: 2;
      align-self: center;
      justify-self: center
    }
    .homeright{
      grid-row: 3;
      grid-column: 2;
      align-self: center;
      justify-self: center
    }
  
    .slidewrapper{
      display: grid;
      grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
      grid-template-rows: 3fr 4fr 1fr 6fr 6fr 6fr 2fr ;
      grid-gap: 5px;
      height: 100%;
      color: white;
  }

    .slidewrapper .yazi1{
      grid-column: 2 ;
      grid-row: 5 ;
      text-align: center;
    }
     .slidewrapper .yazi2{
      grid-column: 2  ;
      grid-row: 4 ;
      text-align: center;

    }
    .slidewrapper .yazi3{
      grid-column: 2  ;
      grid-row: 6 ;
      text-align: center;

    }
    .slidewrapper .dis{
      display: none;
    }
    .slidewrapper .yazi4{
      grid-column: 4;
      grid-row: 4 ;
      text-align: center;

    }
    .slidewrapper .yazi5{
      grid-column: 4 ;
      grid-row: 5 ;
      text-align: center;

    }
    .slidewrapper .yazi6{
      grid-column: 4 ;
      grid-row: 6 ;
      text-align: center;
    }
    .faqwrapper{
      display: grid;
      grid-template-columns: 1fr minmax(280px,3fr) 1fr;
      grid-template-rows: 70px 100px 1fr ;
      height: 100vh;
      color: white;
      background-color: rgb(6, 77, 94);
  }
    .faqwrapper .imagefaq{
      display: none;
    }
    .faqwrapper .faqcontent{
      grid-column: 2;
      grid-row: 3 / span 3;
  }
    .faqwrapper .faqbaslik{
      grid-column: 2;
      grid-row: 2 ;
      font-size: 200%;
      line-height: 380%;
    }
    }

  @media screen and (max-width: 600px) {

    #section1,#section2,#section4,#section5,
    #section1 .fp-slide,#section2 .fp-slide,#section4 .fp-slide,#section5 .fp-slide,
    #section1 .fp-tableCell,#section2 .fp-tableCell,#section4 .fp-tableCell,#section5 .fp-tableCell{
        height: auto !important;
    }
    
  
    .slidewrapper{
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 3fr 4fr 1fr 6fr 6fr 6fr 6fr 6fr 6fr 2fr ;
      grid-gap: 5px;
      color: white;
  }

    .slidewrapper .yazi1{
      grid-column: 2 ;
      grid-row: 5 ;
      text-align: center;
    }
     .slidewrapper .yazi2{
      grid-column: 2  ;
      grid-row: 4 ;
      text-align: center;

    }
    .slidewrapper .yazi3{
      grid-column: 2  ;
      grid-row: 6 ;
      text-align: center;

    }
    .slidewrapper .dis{
      display: none;
    }
    .slidewrapper .yazi4{
      grid-column: 2;
      grid-row: 7 ;
      text-align: center;

    }
    .slidewrapper .yazi5{
      grid-column: 2 ;
      grid-row: 8 ;
      text-align: center;

    }
    .slidewrapper .yazi6{
      grid-column: 2 ;
      grid-row: 9 ;
      text-align: center;
    }

    .faqwrapper{
      display: grid;
      grid-template-columns: 1fr minmax(280px,3fr) 1fr;
      grid-template-rows: 70px 100px 1fr ;
      height: 100vh;
      color: white;
      background-color: rgb(6, 77, 94);
  }
    .faqwrapper .imagefaq{
      display: none;
    }
    .faqwrapper .faqcontent{
      grid-column: 2;
      grid-row: 3 / span 3;
  }
    .faqwrapper .faqbaslik{
      grid-column: 2;
      grid-row: 2 ;
      font-size: 200%;
      line-height: 380%;
    }
  
    .contactWrapper{
      display: grid;
      grid-template-columns: 10fr;
      grid-template-rows: 1fr 3fr 3fr 1fr;
      color: white;
    }
    .contactTanitim{
      grid-column: 1;
      grid-row: 3;
      display: grid;
      grid-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(50px,auto) 3fr minmax(100px,auto);
      background-color: #000040 !important;
    }
    .tanitimBaslik{
      grid-row: 1;
      background: url(../img/logo-white-text.png) center top no-repeat;
      background-size: 100px; 
    }
    .tanitimIcerik{
      grid-row: 2;
      padding: 0 10px 10px 10px;
      line-height: 170%;
    }
    .tanitimSosyalMedya{
      grid-row: 3;
    }
    .contactForm{
      grid-column: 1;
      grid-row: 2;
      padding: 0 10%;
    }
    .contactFormInput{
      max-width:420px; 
    }
  }
